.card{
    text-align: center;
    margin-top: 20px;
    margin-left: 30vh;
}
.pokeimg {
    min-width: 400px;

}
.text-inicial{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 40vh;
}
@media(max-width:600px){
    .card{
        text-align: center;
    }
    .pokeimg {
        min-width: 200px;
    
    }
}