*{
    margin: 0 ;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.App{
    display: flex;
    text-align: center;
}


.logo{
    width: 250px;
}

.lateral{
background-color: #b65a30;
width: 40%;
height: 100vh;
}

.main{
    margin-top: 20vh;
}
.text-logo{
    color: white;
}
.main .inputname{
    margin-top: 20px ;
    margin-bottom: 20px;
    width: 200px;
    padding: 10px;
    border:solid 1px;
    border-radius: 10px;
    border-color: rgb(172, 172, 166);
}

.main .inputbutton{
    color: white;
    background-color: rgb(80, 28, 221);
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    border-color: rgb(80, 28, 221);
}

.main .inputbutton:hover{
    color: white;
    background-color: rgb(108, 69, 212);
    border-color: rgb(108, 69, 212);
}

.main .inputbutton:active{
    color: white;
    background-color: rgb(57, 21, 156);
    border-color:  rgb(57, 21, 156);
}

@media (max-width:600px){
    .App{
        display: inline;
        text-align: center;
    }
    
    .logo{
        width: 100px;
    }
    
    .lateral{
    background-color: #b65a30;
    max-width: 500px;
    width: 100vh;
    height: 60px;
    }
    
    .text-logo{
        color: bac;
    }
    .main .inputname{
        margin-top: 20px ;
        margin-bottom: 20px;
        width: 200px;
        padding: 10px;
        border:solid 1px;
        border-radius: 10px;
        border-color: rgb(172, 172, 166);
    }
    
    .main .inputbutton{
        color: white;
        background-color: rgb(80, 28, 221);
        padding: 10px;
        width: 200px;
        border-radius: 10px;
        border-color: rgb(80, 28, 221);
    }
    
    .main .inputbutton:hover{
        color: white;
        background-color: rgb(108, 69, 212);
        border-color: rgb(108, 69, 212);
    }
    
    .main .inputbutton:active{
        color: white;
        background-color: rgb(57, 21, 156);
        border-color:  rgb(57, 21, 156);
    }
}